  <%- model_class = Trip -%>
  <div class="modal splash fade" id="splash" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class = "custom-font"><%= t '.title', :default => model_class.model_name.human.titleize %></h1>
        </div>
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>